MESSAGE=<message-for-server>
DATABASE_URL=postgresql://USER:PASSWORD@SERVER/DATABASE_NAME?sslmode=verify-full&channel_binding=require
ERASE_DATABASE_ON_SYNC=false

# JWT Authentication
JWT_SECRET=<secret-key>
ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION_DAYS=7
